COMPOSE_PROJECT_NAME=klite
CARDANO_NODE_PORT=6000
NETWORK=preprod
POSTGRES_PORT=15432
POSTGRES_PASSWORD=koiostest
POSTGRES_USER=koios
POSTGRES_DB=koioslite
HAPROXY_PORT=18153
POSTGREST_PORT=18150
RPC_SCHEMA=rpc
PGRST_DB_ANON_ROLE=web_anon
PGDATABASE="$POSTGRES_DB"
DB_SYNC_CONFIG="/dbsync-cfg/dbsync-${NETWORK}.json"
G_ACCOUNT="cardano-community"
RESTORE_SNAPSHOT="https://share.koios.rest/api/public/dl/xFdZDfM4/dbsync/preprod-lite-epoch219-x86_64.tgz"
# RESTORE_SNAPSHOT=/snapshots/preprod-lite-epoch219-x86_64.tgz
HAPROXY_CFG="./configs/haproxy/haproxy.cfg"
DOCS_URL="https://cardano-community.github.io/guild-operators"
CNODE_HOME="/opt/cardano/cnode"

PG_MAX_CONNECTIONS=200
PG_MAINTENANCE_WORK_MEM=2GB
PG_PARALLEL_MAINT_WORKERS=4
PG_SHARED_BUFFERS=6GB